body{
	font-size: 16px;
	background-color: #3b3b3b;
	font-family: 'Oxygen',sans-serif;

}
#header-nav{
	background-color: #fff;
	border-radius: 0;
	border: 0;

}
#logo-img{
	background: url(logo.PNG) no-repeat;
	width:150px ;
	height: 150px;
	margin: 10px 15px 10px 0;
}
.navbar-brand{
	margin-top: 20px;
	font-family: 'Original Surfer', cursive;
	font-weight: bold;
	text-shadow: 0.5px 0.5px 0.5px red;
}
.navbar-brand h1{
	color: black;
	font-size: 1.2em;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list{
	margin-top: 30px;

}
#nav-list a{
	color: black;
	text-align: center;
}
#nav-list a:hover{
	background: coral;
}
#nav-list a span{
	font-size: 2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:2px solid black;
}
.navbar-header button.navbar-toggle{
	clear: both;
}


@media (max-width: 767px){

	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}

	#collapsable-nav a{
		font-size: 1.2em;
	} 
	#collapsable-nav a span{
		font-size: 1em; 
		margin-right: 5px;
	}
}

/****** jumbotron******/
@media (min-width: 1200px){
	.jumbotron{
		background: url('book1.jpg') no-repeat;
		height: 700px;
		width: 1000px;
		margin-left: 80px;
		box-shadow: 0 0 25px lightslategrey;
		border: 2px solid dimgrey;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.jumbotron{
		background: url('book1.jpg') no-repeat;
		height: 650px;
		box-shadow: 0 0 25px lightslategrey;
		border: 2px solid dimgrey;
	}
}

@media (min-width: 768px) and (max-width: 911px){
	.jumbotron{
		background: url('book1.jpg') no-repeat;
		height: 432px;
		box-shadow: 0 0 25px lightslategrey;
		border: 2px solid dimgrey;
	}
}

@media (max-width: 767px){

	.container .jumbotron{
		padding: 0;
		height: 310px;
		box-shadow: 0 0 25px lightslategrey;
		border: 2px solid dimgrey;
	}
}
.btn-default{

	background: dimgrey;
	border-radius: 0;
	color: white;
	font-family: 'Oxygen',sans-serif;
	font-size: 30px;
}
.tiles .btn-group{

	box-shadow: 0 0 8px white;
	margin-top: 100px;
	margin-bottom: 100px;
}


/********************************************************************************/

#sell{
	font-family: 'Oxygen',sans-serif ;
	font-size: 30px;
	color: red;
	text-align: center;
}